* {
  font-family: 'Raleway', sans-serif;
  color: #404040;
}

.nav-arrow {
  font-size: 40px;
  padding: 7px;
  border-radius: 50%;
}

.welcome {
    background-image: url('img/splash.jpg');
    background-size: cover;
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.heading {
  background-color: rgba(255, 255, 255, .8);
}

h1.name {
  font-size: 10rem;
  letter-spacing: 10px;
  padding-top: 2rem;

}

.tagline {
  font-size: 3.5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#nav-about {
  background-color: #CFE5E5;
  height: 1rem;
}

#nav-about .nav-arrow {
  margin-top: -20px;
  border: 1px solid #CFE5E5;
  background-color: #CFE5E5;
}

.about {
  background-color: #CFE5E5;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.about-title h1 {
  font-size: 7rem;
}

.about-title img {
  height: 20rem;
  border-radius: 50%;
}

.about-text {
  border-left: 1px solid #404040;
  padding: 5rem;
}

.about-text h4 {
  font-size: 2rem;
}

#nav-portfolio {
  background-color: #e7f2f2;
  height: 1rem;
}

#nav-portfolio .nav-arrow {
  margin-top: -25px;
  border: 1px solid #e7f2f2;
  background-color: #e7f2f2;
}

.portfolio {
  background-color: #e7f2f2;
  height: 100%;
  padding-bottom: 6rem;
}

.portfolio h2 {
  padding-top: 6rem;
  font-size: 6rem;
}


.portfolio-tech {
  height: 45rem;
}

.portfolio-tech img {
}

.onehourchallenge .btn, .onehourchallenge h4 {
  display: inline-block;
  margin: 10px;
}

.onehourchallenge .btn {
  text-transform: uppercase;
}

#nav-art {
  background-color: #f3f8f8;
  height: .5rem;
}

#nav-art .nav-arrow {
  margin-top: -25px;
  border: 1px solid #f3f8f8;
  background-color: #f3f8f8;
}

.portfolio-art {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #f3f8f8;

}

.art-heading {
  font-size: 5rem;
}

.art-mobile h3 {
  font-size: 6rem;
}

.art-mobile h4 {
  font-size: 4rem;
}

.art-mobile {
  display: none;
}

.footer {
  padding-top: 25px;
  background-color: #CFE5E5;
}

.footer-linkedin {
  opacity: .75;
}

.footer-git {
  opacity: .83;
}

.footer-link {
  padding: 10px;
}

.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-height: 667px) {
  .tagline {
    font-size: 4rem;
  }
  .about {
    height: auto;
  }
  .about-text {
    border-left: 1px solid #404040;
    padding: 2rem 0rem 2rem 5rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
  }
  .about-text h4 {
    font-size: 4rem;
  }
  .portfolio h2 {
    font-size: 7rem;
  }

  .portfolio h3 {
    font-size: 4rem;
  }
  .art-desktop {
    display: none;
  }
  .art-mobile {
    display: block;
    padding-bottom: 5rem;
  }
}
