* {
  font-family: 'Raleway', sans-serif;
  color: #404040;
}

.welcome {
    background-image: url('img/splash.jpg');
    background-size: cover;
    /*background-repeat: no-repeat;*/
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.heading {
  background-color: rgba(255, 255, 255, .8);
}

h1.name {
  font-size: 10rem;
  letter-spacing: 10px;
  padding-top: 2rem;

}

.tagline {
  font-size: 2.25rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.about {
  background-color: #CFE5E5;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-title h1 {
  font-size: 8rem;
  padding-top: 10rem;
}

.about-text {
  border-left: 1px solid #404040;
  padding: 5rem;
}

.about-text h4 {
  font-size: 2rem;
}

.portfolio {
  background-color: #e7f2f2;
  height: 100%;
  padding-bottom: 6rem;
}

.portfolio h2 {
  padding-top: 6rem;
  font-size: 6rem;
}

.portfolio h3 {
  padding-bottom: 3rem;
}

.portfolio-art {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #f3f8f8;

}
.art-heading {
  font-size: 5rem;
}

.art-mobile h3 {
  font-size: 5rem;
}
.art {
  transform: rotate(90deg);
}

.art-mobile {
  display: none;
}

.footer {
  padding-top: 25px;
  background-color: #CFE5E5;
}

.footer-link {
  padding: 10px;
}

.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (min-device-width: 320px) and (max-device-height: 667px) {
  .tagline {
    font-size: 4rem;
  }
  .about {
    height: auto;
  }
  .about-text {
    border-left: 1px solid #404040;
    padding: 2rem 0rem 2rem 5rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
  }
  .about-text h4 {
    font-size: 4rem;
  }
  .portfolio h2 {
    font-size: 7rem;
  }

  .portfolio h3 {
    font-size: 4rem;
  }
  .art-desktop {
    display: none;
  }
  .art-mobile {
    display: block;
    padding-bottom: 10rem;

  }
  .art {
    margin-bottom: 10rem;
  }
}
