h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 10rem;
  letter-spacing: 10px;
  padding-top: 9rem

}

.about {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  padding-top: 3rem;
}
